@font-face {
    font-family: regular;
    src: url(/dia6/myriad-pro/MYRIADPRO-REGULAR.OTF);
}


.fondo{
    width: 1920px;
    height: 1464px;
}

.cabeza{
    background-color: rgb(64, 94, 228);
    position: fixed;
    width: 1920px;
    height: 147px;
    top: 0;
    z-index: 1000;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-family: Regular;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 30px;

}

#escudo {
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
}

#boton {
    background-color: #fff;
    color: #000;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.cuadroazul{
    position: absolute;
    background-color:rgb(64, 94, 228);
    width: 1920px;
    height: 147px;
    

}

.tex1{
    position: absolute;
    width: 600px;
    color: white;
    font-size: 15px;
    text-align: center;
    top: 20px;
    font-family: regular;
    left: 80px;

}

.tex2{
    position: absolute;
    width: 600px;
    color: white;
    font-size: 20px;
    text-align: center;
    top: 15px;
    left: 1270px;
    font-family: regular;
}

.logoGov{
    position: absolute;
    left: 830px;
    top: 50px;
}

.cuadrob{
    position: absolute;
    position: absolute;
    top: 191px;
    left: 167px;
    width: 1545px;
    height: 1225px;
    background: transparent url('img/Rectangle 12.png') 0% 0% no-repeat padding-box;
    border-radius: 50px;
    opacity: 1;    
}

.dianlogo{
    position: absolute;
    top: 430px;
    left: 804px;
    width: 313px;
    height: 53px;    
}

.text1{
    position: absolute;
    top: 480px;
    left: 567px;
    width: 800px;
    height: 64px; 
    color: black;
    font-family: regular;
    font-size: 26px; 
    text-align: center;  
}

.sol{
    position: absolute;
    top: 600px;
    left: 845px;
    width: 231px;
    height: 77px;    
}


label{
    display: block;
    font-size: 28px;
}

input{
    font-size: 28px;
    top: 532px;
    left: 564px;
    width: 792px;
    height: 63px;    

}

.ingresar1{
    position: absolute;
    font-size: 28px;
    top: 690px;
    left: 560px;
}

.robot{
    position: absolute;
    top: 1020px;
    left: 752px;
    width: 401px;
    height: 113px;

}

.muisca{
    position: absolute;
    font-family: regular;
    font-size: 11px;
    color:black;
    top: 1120px;
    left: 740px;
    width: 450px;
    height: 11px;
    text-align: center;
}

.cazul5{
    position: absolute;
    top: 1156px;
    left: 840px;
    width: 220px;
    height: 56px; 
    background-color: rgb(64, 94, 228);  
    text-align: center;
    font-family: regular;
    font-size: 12px;
    border-radius: 20px;
  
}

.cazul5 a{
    position: absolute;
    text-decoration: none;
    top: 20px;
    left: 80px;
    color: white;
}






   
   
