
@font-face{
    font-family:amazon;
    src: url(./fontAmazon/Amazon\ Ember\ Display\ Light.ttf);
}

.textoGrande{
    position: absolute;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 66.3px;
    top: 475px;
    left: 389px;
    width: 2000px;
    height: 60px;
    background: transparent url('img/Your favorite content, on one place only..png') 0% 0% no-repeat padding-box;
    opacity: 1;

}

.texto2{
    position: absolute;
    color: white;
    font-family:amazon;
    font-size: 30px;
    text-align: center;
    top: 570px;
    left: 380px;
    width: 1160px;
    height: 102px;
    background: transparent url('img/Now you can enjoy everything from Amazon Prime Video and Twitch Prime with you Amazon Prime subscription on one place that brings all the entertainment you love. .png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.fondoNegroo{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;  
}

.logoGrande{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: transparent url('img/FondoTwitch.png') 0% 0% no-repeat padding-box;
    opacity: 0.90;
    margin-top: -4149px;

}

.logoPrime{
    position: absolute;
    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
}

.login{
    position: absolute;
    top: 30px;
    left: 1695px;
    width: 205px;
    height: 54px;
    background: transparent url('img/Group 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.lupa{
    position: absolute;
    top: 37px;
    left: 63px;
    width: 36px;
    height: 36px;
    

}

.rectanguloBlanco{
    position: absolute;
    top: 800px;
    left: 730px;
    width: 458px;
    height: 104px;
    background: transparent url('img/Rectangle 2.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 52px;
    opacity: 1;
}

.tarjetaAzul{
    position: absolute;
    top: 1106px;
    left: 64px;
    width: 1792px;
    height: 567px;
    background: transparent url('img/Group 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.tarjetaAzul2{
    position: absolute;
    top: 1717px;
    left: 64px;
    width: 1792px;
    height: 724px;
    background: transparent url('img/Rectangle 3.png') 0% 0% no-repeat padding-box;
    border-radius: 108px;
    opacity: 1;

}

.tarjetaAzul3{
    position: absolute;
    top: 2467px;
    left: 64px;
    width: 1792px;
    height: 567px;
    background: transparent url('img/Rectangle 3.png') 0% 0% no-repeat padding-box;
    border-radius: 108px;
    opacity: 1;
}

.poster{
    position: absolute;
    top: 1896px;
    left: 477px;
    width: 181px;
    height: 309px;
    /* UI Properties */
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}

.poster2{
    position: absolute;
    top: 1896px;
    left: 670px;
    width: 181px;
    height: 309px;
    /* UI Properties */
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    }

.poster3{
    position: absolute;
    top: 1896px;
    left: 863px;
    width: 180px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.poster4{
    position: absolute;
    top: 1896px;
    left: 1055px;
    width: 181px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.poster5{
    position: absolute;
    top: 1896px;
    left: 1248px;
    width: 181px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.x{
    position: absolute;
    top: 2650px;
    left: 876px;
    width: 169px;
    height: 169px;
    background: transparent url('img/Icon metro-cancel.png') 0% 0% no-repeat padding-box;

}

.iphone{
    position: absolute;
    top: 3606px;
    left: 386px;
    width: 256px;
    height: 219px;
    background: transparent url('img/Image 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.mac{
    position: absolute;
    top: 3440px;
    left: 685px;
    width: 584px;
    height: 534px;
    background: transparent url('img/Image 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.pc{
    position: absolute;
    top: 3587px;
    left: 1261px;
    width: 271px;
    height: 238px;
    background: transparent url('img/Image 3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logoFinal{
    position: absolute;
    top: 3954px;
    left: 826px;
    width: 430px;
    height: 241px;
    background: transparent url('img/Logo CACE Invertido UP.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.flecha{
    position: absolute;
    top: 3689px;
    left: 305px;
    width: 19px;
    height: 27px;
    transform: matrix(0.03, 1, -1, 0.03, 0, 0);
    rotate: -85deg;
    background: transparent url('img/Flecha.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.flecha2{
    position: absolute;
    top: 3702px;
    left: 1575px;
    width: 18px;
    height: 26px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    rotate: -85deg;
    background: transparent url('img/Flecha.png') 0% 0% no-repeat padding-box;
    opacity: 1

}

.singUp{
    position: absolute;
    top: 835px;
    left: 780px;
    width: 360px;
    height: 40px;
    background: transparent url('img/Sign-Up on Amazon.png') 
}

.entrar{
    position: absolute;
    top: 48px;
    left: 1773px;
    width: 50px;
    height: 20px;
    background: transparent url('img/Login.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.textodont{
    position: absolute;
    top: 1773px;
    left: 135px;
    width: 1664px;
    height: 60px;
    background: transparent url('img/Don’t like to watch Live? No problem , we got you covered.png') 0% 0% no-repeat padding-box;
    opacity: 1;

}

.textoyoull{
    position: absolute;
    top: 2286px;
    left: 207px;
    width: 1492px;
    height: 110px;
    background: transparent url('img/You’ll find a variety of movies, not only for adults but also for your family, with our without internet. 24/7. On demand..png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.cancel{
    position: absolute;
    top: 2546px;
    left: 560px;
    width: 800px;
    height: 60px;
    background: transparent url('img/Cancel any time , anywhere .png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.if{
    position: absolute;
    top: 2881px;
    left: 269px;
    width: 1382px;
    height: 88px;
    background: transparent url('img/If you don’t like our services, you can cancel anytime you want , no contracts, no fees..png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.compatible{
    position: absolute;
    top: 3127px;
    left: 418px;
    width: 1118px;
    height: 125px;
    background: transparent url('img/Compatible devices.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.range{
    position: absolute;
    top: 3296px;
    left: 181px;
    width: 1544px;
    height: 99px;
    background: transparent url('img/There’s a range of devices where you can enjoy all of the content available in Prime Entertainment:.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}