@font-face {
    font-family: amazon;
    src: url(/fontamazon/Amazon\ Ember\ Light.ttf);
}

@font-face {
    font-family: bool;
    src: url(/fontamazon/Amazon\ Ember\ Bold.ttf);
}

@font-face {
    font-family:myriad;
    src: url(/fontMyriad\Myriadproitalic.ttf);
}

body{
    width: 1920px;
    height: 4149px;
    background-color: black;
    margin: 0 auto;
}

.contenedor{
    position:absolute;
    justify-content: center;
    border-color: black;
}

.fondo1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    opacity: 1;
}

.fondo2{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    opacity: 1;
}

.buscar{
    position: absolute;
    top: 37px;
    left: 63px;
    width: 36px;
    height: 36px;
    opacity: 1;   
}

.login{
    position: absolute;
    top: 30px;
    left: 1695px;
    width: 205px;
    height: 54px;
    opacity: 1;
}

.logintext{
    position: absolute;
    top: -5px;
    left: 80px;
    width: 20px;
    height: 50px;
    font-family: amazon;
    font-size: 20px;
    text-align: left;
}

.prime{
    position: absolute;
    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
    opacity: 1;
}

.tex1{
    position: absolute;
    font-family: bool;
    text-align:left ;
    font-size:60px ;
    top: 443px;
    left: 489px;
    width: 1151px;
    height: 60px;
    opacity: 1;
    color: white;
}

.tex2{
    position: absolute;
    font-family: amazon;
    text-align:center ;
    font-size:30px ;
    top: 570px;
    left: 380px;
    width: 1160px;
    height: 102px;
    opacity: 1;
    color: white;
}

.rectangulo2{
    position: absolute;
    top: 755px;
    left: 730px;
    width: 458px;
    height: 104px;
    border: 1px solid #707070;
    border-radius: 52px;
    opacity: 1;
}

.tex3{
    position: absolute;
    font-family: amazon;
    font-size: 40px;
    text-align: center;
    color: black;
    top: 743px;
    left: 780px;
    width: 360px;
    height: 40px;
    opacity: 1;    
}

.cuadroazul{
    position: absolute;
    top: 1106px;
    left: 64px;
    width: 1792px;
    height: 567px;
    opacity: 1;

}

.rectangulo3{
    position: absolute;
    top: 1717px;
    left: 64px;
    width: 1792px;
    height: 724px;
    border-radius: 108px;
    opacity: 1;    
}

.tex4{
    position: absolute;
    font-family: bool;
    font-size:60px ;
    text-align: left;
    color: white;
    top: 1730px;
    left: 260px;
    width: 1700px;
    height: 60px;
    opacity: 1;
}


.poster1{
    position: absolute;
    top: 1896px;
    left: 477px;
    width: 181px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}

.poster2{
    position: absolute;
    top: 1896px;
    left: 670px;
    width: 181px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}

.poster3{
    position: absolute;
    top: 1896px;
    left: 863px;
    width: 180px;
    height: 309px;

    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.poster4{
    position: absolute;
    top: 1896px;
    left: 1055px;
    width: 181px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}

.poster5{
    position: absolute;
    top: 1896px;
    left: 1248px;
    width: 181px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}

.tex5{
    position: absolute;
    font-family: amazon;
    font-size: 50px;
    text-align: center;
    top: 2250px;
    left: 207px;
    color: white;
    width: 1492px;
    height: 110px;
    background: transparent url('img/You’ll find a variety of movies, not only for adults but also for your family, with our without internet. 24/7. On demand..png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.rectanguloazul2{
    position: absolute;
    top: 2467px;
    left: 64px;
    width: 1792px;
    height: 567px;
    background: transparent url('img/Rectangle 3.png') 0% 0% no-repeat padding-box;
    border-radius: 108px;
    opacity: 1;
}

.tex6{
    position: absolute;
    font-family: bool;
    font-size:60px ;
    text-align:left;
    color: white;
    top: 2480px;
    left: 660px;
    width: 800px;
    height: 60px;
    
    background: transparent url('img/Cancel any time , anywhere .png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.x{
    position: absolute;
    top: 2650px;
    left: 876px;
    width: 169px;
    height: 169px;
    background: transparent url('img/Icon metro-cancel.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.tex7{
    position: absolute;
    font-family: amazon;
    font-size: 40px;
    text-align: center;
    color: white;
    top: 2881px;
    left: 269px;
    width: 1382px;
    height: 88px;
    background: transparent url('img/If you don’t like our services, you can cancel anytime you want , no contracts, no fees..png') 0% 0% no-repeat padding-box;
    opacity: 1;  
}

.tex8{
    position: absolute;
    font-family:amazon ;
    font-size:125px ;
    text-align: center;
    color: white;
    top: 3127px;
    left: 418px;
    width: 1118px;
    height: 125px;
    background: transparent url('img/Compatible devices.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    
}

.tex9{
    position: absolute;
    font-family: amazon;
    font-size: 45px;
    text-align: center;
    color: white;
    top: 3400px;
    left: 181px;
    width: 1544px;
    height: 99px;
    background: transparent url('img/There’s a range of devices where you can enjoy all of the content available in Prime Entertainment:.png') 0% 0% no-repeat padding-box;
    opacity: 1;
     
}


.cel{
    position: absolute;
    top: 3770px;
    left: 400px;
    width: 256px;
    height: 219px;
    background: transparent url('img/Image 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.pc{
  position: absolute;
    top: 3600px;
    left: 685px;
    width: 584px;
    height: 534px;
    background: transparent url('img/Image 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.pc2{
    position:absolute;
    top: 3750px;
    left: 1250px;
    width: 271px;
    height: 238px;
    background: transparent url('img/Image 3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.letras{
    position: absolute;
    top: 4150px;
    left: 826px;
    width: 430px;
    height: 241px;
    background: transparent url('img/Logo CACE Invertido UP.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.tex10{
    position: absolute;
    font-family: myriad;
    font-size:20px ;
    text-align: left;
    color: white;
    top: 4150px;
    left: 820px;
    width: 92px;
    height: 20px;
    background: transparent url('img/Powered by.png') 0% 0% no-repeat padding-box;
    opacity: 1;    
}

.texultimo{
    position: absolute;
    top: 4350px;
    left: 570px;
    width: 831px;
    height: 25px;
    background: transparent url('img/Group 5.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.flechitas{
    position: absolute;
    top: 3702px;
    left: 1575px;
    width: 18px;
    height: 26px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    background: transparent url('img/Flecha.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    
}