@font-face {
    font-family: cascadia;
    src: url(/dia5/font/paradroidmono-bold.ttf);

}
@font-face {
    font-family: tipo2;
    src: url(/dia5/font/ParadroidMono-Light.ttf);
}

@font-face {
    font-family: cascadia;
    src: url(/dia5/font/Cascadia.ttf);
}

body{
    width: 1920px;
    height: 7000px;
}




.rectan1{

    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: rgb(22, 19, 19);
    justify-content: center;
}

.Foods{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: orange;
    text-align: center;
    font-family: cascadia;
    font-size: 40px;
    left: 50px;
}

.Home{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    font-family: cascadia;
    font-size: 40px;
    left: 1110px;
}

.About{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    font-family: cascadia ;
    font-size: 40px;
    left: 1260px;
}

.Menu{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    font-family:cascadia ;
    font-size: 40px;
    left: 1410px;
}

.Services{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    font-family:cascadia ;
    font-size: 40px;
    left: 1560px;
}

.full{
    position: absolute;
    top: 200px;
    width: 900px;
    height: 400px;
    color: orange;
    font-family:cascadia ;
    font-size: 100px;
    left: 180px;

}

.Contac{
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    font-family: cascadia;
    font-size: 40px;
    left: 1740px;
}

.food2{
    position: absolute;
    top: 410px;
    width: 900px;
    height: 400px;
    color: white;
    text-align: left;
    font-family: cascadia;
    font-size: 40px;
    left: 180px; 
}

.cuadrito{
    position: absolute;
    top: 770px;
    width: 200px;
    height: 50px;
    background-color: rgb(228, 141, 10);
    left: 180px; 
}

.today{
    position: absolute;
    font-size: 33px;
    top: -32px;
    color: white;
    left: 7px;
}

.fotoHome{
    position: absolute;
    top: 210px;
    left: 1100px;
    width: 570px;
}


.rectan2{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color:rgb(22, 19, 19);
    justify-content: center;
}


.aboutimg{
    position: absolute;
    top: 300px;
    width: 570px;
    left: 200px;
    font-family: cascadia;
    font-size:30px ;    
}

.about{
    position: absolute;
    top: 300px;
    width: 300px;
    height: 300px;
    left: 1000px;
    font-family: cascadia;
    font-size:30px ;
    color: orange;
}


.weSpeak{
    position: absolute;
    top: 310px;
    width: 816px;
    height: 300px;
    left: 1000px;
    font-family: cascadia;
    color: white;
    font-size: 80px;

}

.itIs{
    position: absolute;
    top: 550px;
    width: 816px;
    height: 300px;
    left: 1000px;
    font-family: cascadia;
    font-size:30px ;
    color:white;
}


.cuadrito2{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: orange;
    top: 700px;
    left: 1000px;
}


.learn{
    position: absolute;
    font-size: 30px;
    top: -25px;
    left: 17px;
    color: white;
}

.rectan3{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color:rgb(22, 19, 19);
    justify-content: center;
}

.foodMenu{
    position: absolute;
    top: 100px;
    width: 816px;
    height: 300px;
    left: 900px;
    font-family: cascadia;
    font-size:40px ;
    color:orange;
}


.fresh{
    position: absolute;
    top: 130px;
    width: 1316px;
    height: 300px;
    left: 600px;
    font-family: cascadia;
    font-size:80px ;
    color:white;

}



.cuadro1{
    position: absolute;
    top: 410px;
    left: 100px;
    width: 480px;
    height: 480px;
    
}

.cuadriton{
    position: absolute;
    top: 414px;
    left: 480px;
    width: 100px;

}

.cuadriton1{
    position: absolute;
    top: 413px;
    left: 1100px;
    width: 100px;

}

.cuadriton2{
    position: absolute;
    top: 413px;
    left: 1700px;
    width: 100px;    
   

}


.hamburguesa{
    position: absolute;
    top: 520px;
    width:200px;
    left: 240px;

}


.hamburguesa2{
    position: absolute;
    top: 520px;
    width:200px;
    left: 850px;
}

.pollo{
    position: absolute;
    top: 520px;
    width:200px;
    left: 1450px;

}



.t{
    position: absolute;
    color:black;
    top: 750px;
    width: 150px;
    height: 50px;
    left: 280px;
    font-family: cascadia;

}

.t1{
    position: absolute;
    color:black;
    top: 780px;
    width: 150px;
    height: 50px;
    left: 290px;
    font-family: cascadia;

}

.t2{
    position: absolute;
    color:orange;
    top: 810px;
    width: 150px;
    height: 50px;
    left: 300px;
    font-family: cascadia;
}


.cuadro2{
    position: absolute;
    top: 410px;
    width: 480px;
    height: 480px;
    left: 720px;
   
}

.tex1{
    position: absolute;
    color:black;
    top: 750px;
    width: 250px;
    height: 50px;
    left: 870px;
    font-family: cascadia;    
   

}

.tex2{
    position: absolute;
    color:black;
    top: 770px;
    width: 150px;
    height: 400px;
    left: 910px;
    font-family: cascadia
}

.tex3{
    position: absolute;
    color:orange;
    top: 790px;
    width: 150px;
    height: 50px;
    left: 930px;
    font-family: cascadia;
}

.cuadro3{
    position: absolute;
    top: 410px;
    width: 480px;
    height: 480px;
    left: 1320px;
   
}


.txtico{
    position: absolute;
    color:black;
    top: 750px;
    width: 150px;
    height: 50px;
    left: 1480px;
    font-family: cascadia
}

.txtico1{
    position: absolute;
    color:black;
    top: 770px;
    width: 150px;
    height: 50px;
    left: 1510px;
    font-family: cascadia      
}

.txtico2{
    position: absolute;
    color:orange;
    top: 790px;
    width: 150px;
    height: 50px;
    left: 1530px;
    font-family: cascadia;    
}

.rectan4{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color:rgb(22, 19, 19);
    justify-content: center;
}

.te1{
    position: absolute;
    color: orange;
    left: 820px;
    top: 100px;
    font-size: 40px;
    font-family: cascadia;
}

.te2{
    position: absolute;
    color: white;
    left: 550px;
    top: 200px;
    font-size: 60px;
    font-family: cascadia;
}

.s1{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 300px;
    left: 300px;
}

.s2{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 300px;
    left: 800px;
}

.s3{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 300px;
    left: 1300px;
}

.Order{
    position: absolute;
    top: 700px;
    left: 400px;
    font-size: 40px;
    font-family: cascadia;
    color:orange ;
}

.Shipping{
    position: absolute;
    top: 700px;
    left: 900px;
    font-size: 40px;
    font-family: cascadia;
    color:orange ;
}


.Dellvered{
    position: absolute;
    top: 700px;
    left: 1400px;
    font-size: 40px;
    font-family: cascadia;
    color:orange ;
}

.tx1{
    position: absolute;
    top: 800px;
    left: 250px;
    font-size: 40px;
    font-family: cascadia;
    color:white ; 
    text-align: center;   
}

    

.tx2{
    position: absolute;
    top: 800px;
    left: 760px;
    font-size: 40px;
    font-family: cascadia;
    color:white ; 
    text-align: center;     
}
    
.tx3{
    position: absolute;
    top: 800px;
    left: 1300px;
    font-size: 40px;
    font-family: cascadia;
    color:white ; 
    text-align: center;     
}
    





.rectan5{
    position: relative;
    width: 1920px;
    height: 780px;
    background-color:violet;
    justify-content: center;
}

.rectangulo{
    position: absolute;
    width: 1700px;
    height: 550px;
    left: 100px;
    top: 100px;    
}



.rectan6{
    position: relative;
    width: 1920px;
    height: 540px;
    background-color:green;
    justify-content: center;
}




