

.contenedor{
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    
    
    
}

.fondo{
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    
}

.sol{
    position: absolute;
    width: 20vw;
    height: 20vw;
    margin-top: -55vw;
    left: 80vw;
    animation-name: sol ;
    animation-duration: 7s;
    opacity: 100%;
    animation-delay: 3s;

}
@keyframes sol{
    0%{opacity: 0%;}
    50%{opacity: 10%;}
    100%{opacity: 100%;}

}

.nube{
    position: absolute;
    width: 40vw;
    height: 20vw;
    margin-top: -55vw;
    left: 80vw;
    animation-name: cloud;
    animation-duration: 10s;
    animation-delay: 4s;
    
}
@keyframes cloud {
    0% {right: 10%;}
    10% {right: 20%;}
    50% {right: 50%;}
    100% {transform: translatex(-200%);} 
}

.lluvia1{
    position: absolute;
    margin-top: -40vw;
    margin-left: 10vw;
}

.lluvia1 .lluvia{
    width: 15vw;
    height: 15vw;
    animation-name: lluvia;
    opacity: 0%;
    animation-duration: 3s;
    animation-delay: 13s;

}
@keyframes lluvia {
    1%{opacity: 100%;}
    100%{margin-top: 20vw;}

}





   

.flor{
    position: absolute;
    width: 20vw;
    height: 10vw;
    margin-left: 2vw;
    margin-top: -15vw;
    opacity: 0%;
    animation-name: flor;
    animation-duration: 3s;
    animation-delay: 15s;
    

}

@keyframes flor {
    100%{opacity: 100%;}
    

}

.n3{
    position: relative;
    width: 10vw;
    height: 10vw;
    top: -35vw;
    left: 45vw;
    opacity: 0%;
    animation-name:n3;
    animation-duration: 1s;
}

@keyframes n3{
    1%{opacity:100%;}
    100%{top:-60vw;opacity: 0%;}


}
.n2{
    position: relative;
    width: 10vw;
    height: 10vw;
    top: -35vw;
    left: 45vw;
    opacity: 0%;
    animation-name:n2;
    animation-duration: 1s;
    animation-delay: 1s;

}

@keyframes n2{
    1%{opacity:100%;}
    100%{top:-60vw;opacity: 0%;}


}


.n1{
    position: relative;
    width: 10vw;
    height: 10vw;
    top: -35vw;
    left: 45vw;
    opacity: 0%;
    animation-name:n1;
    animation-duration: 1s;
    animation-delay: 2s;

}
@keyframes n1{
    1%{opacity:100%;}
    100%{top:-60vw;opacity: 0%;}


}



.accion{
    position: relative;
    width: 40vw;
    height: 40vw;
    top: -35vw;
    left: 32vw;
    opacity: 0%;
    animation-name:accion;
    animation-duration: 1s;
    animation-delay: 3s;
          
}
@keyframes accion{
    1%{opacity:100%;}
    100%{top:-80vw;opacity: 0%;}


}
    